*,
*:before,
*:after {
  box-sizing: border-box;
}

:root {
  --background-color: #e9dcc9;
  --primary-color: #f4a84d;
  --secondary-color: #ff9900;
  --accent-color: #df5e00;
  --font-color: #252423;
}

body {
  margin: 0;
  font-size: 18px;
  font-family: 'Quicksand';
}

@font-face {
  font-family: 'Amatic';
  src: url('/assets/styles/fonts/AmaticSC-Bold.woff2') format('woff2'),
    url('/assets/styles/fonts/AmaticSC-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Quicksand';
  src: url('/assets/styles/fonts/Quicksand-Regular.woff2') format('woff2'),
    url('/assets/styles/fonts/Quicksand-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #252423;
    --primary-color: #f4a84d;
    --secondary-color: #df5e00;
    --accent-color: #ff9900;
    --font-color: #f9f3ed;
  }
  .due-today li:hover a {
    background-color: var(--font-color) !important;
  }
  .task-button a,
  .list-titles a {
    color: var(--background-color) !important;
  }
  .task-box a:hover,
  .task-button a:hover,
  .list-titles a:hover {
    color: var(--font-color) !important;
  }
}

main,
footer {
  padding: 30px;
}
h1,
h2,
h3,
.due-today,
.list-titles {
  font-family: 'Amatic';
}
h1 {
  font-size: 36px;
}
h2 {
  font-size: 30px;
}
h3,
.due-today {
  font-size: 24px;
}
h4 {
  margin: 0;
  margin-bottom: 10px;
}
