@media screen and (min-width: 760px) {
  .task-list {
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
  }
  .task-list li {
    width: 180px;
  }
  .counter {
    justify-content: flex-start !important;
    gap: 50px !important;
  }
  .due-date-tracker {
    flex-direction: row !important;
    flex-wrap: wrap;
    gap: 60px !important;
  }
  .motivator {
    justify-content: flex-start !important;
    margin-left: 100px;
    margin-bottom: 60px;
  }
  .content {
    display: flex;
  }
  .lists-list,
  .create-new-list {
    width: 40%;
  }
  .create-new-list {
    margin-top: 70px;
  }
  .home-buttons {
    align-items: flex-start !important;
  }
  .register,
  .login,
  .change-avatar,
  .change-email,
  .change-password,
  .delete-profile,
  .change-title,
  .add-task,
  .edit-task {
    width: 50% !important;
  }
  .messages {
    flex-direction: row !important;
    justify-content: space-evenly;
    margin-top: 40px;
  }
  .messages div {
    max-width: 310px;
  }
  .img-box {
    width: 40%;
  }
  .user-info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    transform: translateY(-388px);
    padding-right: 100px;
  }
}
