@media screen and (min-width: 760px) {
  .show-error {
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 50px;
  }
  .tasks {
    text-align: left !important;
  }
  .task-list {
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
  }
  .task-list li {
    width: 205px;
  }
  .counter {
    justify-content: flex-start !important;
    gap: 50px !important;
  }
  .due-date-tracker,
  .deadline-passed {
    flex-direction: row !important;
    flex-wrap: wrap;
    gap: 60px !important;
  }
  .motivator {
    justify-content: flex-start !important;
    margin-left: 100px;
    margin-bottom: 60px;
  }
  .content {
    display: flex;
  }
  .lists-list,
  .create-new-list {
    width: 40%;
  }
  .create-new-list {
    margin-top: 70px;
  }
  .home-buttons {
    align-items: flex-start !important;
  }
  .register,
  .login,
  .change-avatar,
  .change-email,
  .change-password,
  .delete-profile,
  .change-title,
  .add-task,
  .edit-task {
    width: 50% !important;
  }
  .messages {
    flex-direction: row !important;
    justify-content: space-evenly;
    margin-top: 40px;
  }
  .messages div {
    max-width: 310px;
  }
  .img-box {
    width: 40%;
  }
  .user-info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    transform: translateY(-388px);
    padding-right: 100px;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #252423;
    --primary-color: #f4a84d;
    --secondary-color: #df5e00;
    --accent-color: #ff9900;
    --font-color: #f9f3ed;
  }
  .due-today li:hover a {
    background-color: var(--font-color) !important;
  }
  .task-button a,
  .list-titles a {
    color: var(--background-color) !important;
  }
  .task-box a:hover,
  .task-button a:hover,
  .list-titles a:hover {
    color: var(--font-color) !important;
  }
}
