nav {
  background-color: var(--light-orange);
  width: 100vw;
  height: 110px;
}
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 25px;
}
.title {
  text-decoration: none;
  font-family: 'Amatic';
  font-size: 42px;
  color: var(--blackish);
}
.dropdown-button {
  border: none;
  background-color: transparent;
  padding-right: 30px;
}
.hamburger {
  position: relative;
  width: 30px;
  height: 25px;
  display: inline-block;
}
.hamburger-inner {
  display: block;
}
.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  width: 30px;
  height: 5px;
  background-color: var(--blackish);
  border-radius: 6px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.3s;
  transition-timing-function: ease;
}
.hamburger-inner::before,
.hamburger-inner::after {
  content: '';
  display: block;
}
.hamburger-inner::before {
  top: 10px;
}
.hamburger-inner::after {
  top: 20px;
}
.hamburger-inner.is-active {
  transform: translate3d(0, 10px, 0) rotate(45deg);
}
.hamburger-inner.is-active::before {
  transform: rotate(-45deg) translate3d(-5.71429px, -6px, 0);
  opacity: 0;
}
.hamburger-inner.is-active::after {
  transform: translate3d(0, -20px, 0) rotate(-90deg);
}
nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.dropdown {
  display: flex;
  flex-direction: column;
  align-items: end;
  padding-top: 12px;
  gap: 10px;
  position: absolute;
  right: 0;
  z-index: 1;
}
@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.dropdown-content {
  padding: 35px;
  padding-top: 0;
  margin-top: 32px;
  text-align: end;
  background-color: var(--light-orange);
  display: none;
  animation: slideDown 300ms ease-in-out forwards;
}
.show {
  display: block;
}
