/* MAIN STYLING */
body {
  background-color: var(--background-color);
  color: var(--font-color);
}
main {
  padding-top: 150px;
}
ul {
  list-style: none;
  /* padding: 0; */
}
.heading {
  text-align: center;
  font-size: 54px;
}
.slogan {
  text-align: center;
  font-size: 36px;
  margin-bottom: 0;
}
.home-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}
.home-buttons button,
form button {
  all: unset;
  height: 50px;
  width: 150px;
  background-color: var(--secondary-color);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  transition: 0.5s ease;
}
.home-buttons button:hover,
form button:hover {
  background-color: var(--primary-color);
  box-shadow: inset 0px 0px 0px 2px var(--accent-color);
}
.home-buttons a {
  text-decoration: none;
  font-family: 'Amatic';
  color: var(--font-color);
  font-size: 30px;
}
.messages,
.due-today {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.due-today h2 {
  margin-bottom: 0;
}
.due-today ul {
  list-style: none;
  padding: 0;
}
.due-today li {
  margin-bottom: 10px;
}
.due-today li a {
  padding: 10px;
  text-decoration: none;
  color: var(--accent-color);
  transition: 0.2s ease-in;
}
.due-today li:hover a {
  background-color: var(--primary-color);
  border-radius: 6px;
}
.img-box {
  display: flex;
  justify-content: center;
}
img {
  width: 80%;
  border-radius: 50%;
}
input {
  height: 35px;
  width: 100%;
  border: none;
  margin-top: 10px;
  margin-bottom: 20px;
}
.submit-button {
  display: flex;
  flex-direction: column;
  align-items: center;
}
form button {
  text-decoration: none;
  font-family: 'Amatic';
  color: var(--font-color);
  font-size: 24px;
  margin-top: 10px;
}

/* PROFILE PAGE */
.welcome {
  text-align: center;
}
.avatar-upload input {
  all: unset;
}
.delete-profile button {
  all: unset;
  color: var(--font-color);
  font-size: 24px;
  margin-top: 10px;
  height: 50px;
  width: 150px;
  background-color: var(--accent-color);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  transition: 0.5s ease;
  margin-top: 30px;
}
.delete-profile a {
  color: var(--font-color);
  text-decoration: none;
  font-family: 'Amatic';
}
.change-avatar,
.change-email,
.change-password,
.delete-profile {
  margin-bottom: 80px;
}

/* OVERVIEW PAGE */
h2 a {
  text-decoration: none;
  color: var(--font-color);
}
h2 a:hover {
  color: var(--primary-color);
}
.counter {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}
.motivator {
  display: flex;
  justify-content: flex-end;
  margin-right: 50px;
}
.motivator h3 {
  margin: 0;
  color: var(--accent-color);
}
.due-date-tracker {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.due-date-tracker h4 {
  margin: 0;
  font-size: 24px;
}
.due-date-tracker h3 {
  font-size: 30px;
  margin: 0;
}
.due-date-tracker a {
  text-decoration: none;
  color: var(--accent-color);
}
/* EDIT TASK PAGE */
.description-label {
  margin-bottom: 10px;
}
.edit-task textarea {
  width: 100%;
  height: 100px;
  margin-top: 10px;
  margin-bottom: 20px;
}
.edit-task a {
  text-decoration: none;
  color: var(--font-color);
}

/* SINGLE LIST PAGE */
.task-info {
  display: none;
}
@keyframes reveal {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes hide {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.display {
  animation: reveal 0.5s linear;
  display: block;
}
.do-not-display {
  animation: hide 0.5s linear;
}
.hide {
  display: none;
}
/* TASKS PAGE */
.complete-form {
  margin-left: 30px;
}
.complete-form input {
  width: 20px;
  height: 20px;
  margin: 0;
}
input[type='radio'] {
  appearance: none;
  background-color: var(--background-color);
  border: 2px solid var(--accent-color);
  border-radius: 50%;
  display: grid;
  place-content: center;
  transform: translate(-30px, 22px);
  z-index: -1;
}
input[type='radio']::before {
  content: '';
  width: 10px;
  height: 10px;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 5px 5px 5px 5px var(--accent-color);
}
input[type='radio']:checked::before {
  transform: scale(1);
}
.complete-button {
  z-index: 0;
  /* display: flex;
  padding-top: 10px;
  padding-bottom: 5px;
  gap: 15px; */
}
.completed-button:hover,
.uncompleted-button:hover {
  cursor: pointer;
}
.see-more-button,
.see-less-button {
  background-color: var(--primary-color);
  border: none;
  height: 30px;
  width: 100px;
  border-radius: 6px;
  font-family: 'Amatic';
  margin-top: 15px;
  font-size: 20px;
  margin-bottom: 20px;
}
.see-more-button:hover,
.see-less-button:hover {
  cursor: pointer;
  box-shadow: inset 0px 0px 0px 2px var(--accent-color);
}
.task-box a {
  font-family: 'Amatic';
  font-size: 24px;
  text-decoration: none;
  color: var(--font-color);
}
.task-box a:hover {
  color: var(--accent-color);
  cursor: pointer;
}
/* .task-info p {
  margin: 0;
} */
.task-info h3 {
  margin: 0;
  margin-bottom: 10px;
}
.task-info p:first-child {
  margin: 0;
}
.task-info button {
  all: unset;
  height: 30px;
  padding: 5px 10px 5px 10px;
  background-color: var(--primary-color);
  border-radius: 6px;
}
.task-info button.delete {
  background-color: var(--accent-color);
}
.task-info button.delete:hover {
  box-shadow: inset 0px 0px 0px 2px var(--primary-color);
}
.task-info button:hover {
  box-shadow: inset 0px 0px 0px 2px var(--accent-color);
}
.task-info button a:hover {
  color: var(--font-color);
}
