/* MAIN STYLING */
body {
  background-color: var(--background-color);
  color: var(--font-color);
}
main {
  padding-top: 150px;
}
.heading {
  text-align: center;
  font-size: 54px;
}
.slogan {
  text-align: center;
  font-size: 36px;
  margin-bottom: 0;
}
.home-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home-buttons button,
form button {
  all: unset;
  height: 50px;
  width: 150px;
  background-color: var(--secondary-color);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  transition: 0.5s ease;
}
.home-buttons button:hover,
form button:hover {
  background-color: var(--primary-color);
  box-shadow: inset 0px 0px 0px 2px var(--accent-color);
}
.home-buttons a {
  text-decoration: none;
  font-family: 'Amatic';
  color: var(--font-color);
  font-size: 30px;
}
.messages,
.due-today {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.due-today h2 {
  margin-bottom: 0;
}
.due-today ul {
  list-style: none;
  padding: 0;
}
.due-today li {
  margin-bottom: 10px;
}
.due-today li a {
  padding: 10px;
  text-decoration: none;
  color: var(--accent-color);
  transition: 0.2s ease-in;
}
.due-today li:hover a {
  background-color: var(--primary-color);
  border-radius: 6px;
}
img {
  width: 100%;
}
input {
  height: 35px;
  width: 100%;
  border: none;
  margin-top: 10px;
  margin-bottom: 20px;
}
.submit-button {
  display: flex;
  flex-direction: column;
  align-items: center;
}
form button {
  text-decoration: none;
  font-family: 'Amatic';
  color: var(--font-color);
  font-size: 24px;
  margin-top: 10px;
}

/* PROFILE PAGE */
.avatar-upload input {
  all: unset;
}
.delete-profile button {
  all: unset;
  color: var(--font-color);
  font-size: 24px;
  margin-top: 10px;
  height: 50px;
  width: 150px;
  background-color: var(--accent-color);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  transition: 0.5s ease;
  margin-top: 30px;
}
.delete-profile a {
  color: var(--font-color);
  text-decoration: none;
  font-family: 'Amatic';
}
.change-avatar,
.change-email,
.change-password,
.delete-profile {
  margin-bottom: 80px;
}

/* OVERVIEW PAGE */
h2 a {
  text-decoration: none;
  color: var(--font-color);
}
h2 a:hover {
  color: var(--primary-color);
}
.counter {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

/* EDIT TASK PAGE */
.description-label {
  margin-bottom: 10px;
}
.edit-task textarea {
  width: 100%;
  height: 100px;
  margin-top: 10px;
  margin-bottom: 20px;
}
.edit-task a {
  text-decoration: none;
  color: var(--font-color);
}

/* SINGLE LIST PAGE */
.task-info {
  display: none;
}
@keyframes reveal {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes hide {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.display {
  animation: reveal 0.5s linear;
  display: block;
}
.do-not-display {
  animation: hide 0.5s linear;
}
.hide {
  display: none;
}

/* TASKS PAGE */
.complete-form input {
  width: 20px;
  height: 20px;
  margin: 0;
}
input[type='radio'] {
  appearance: none;
  background-color: var(--background-color);
  border: 2px solid var(--accent-color);
  border-radius: 50%;
  display: grid;
  place-content: center;
  transform: translate(-10px, 4px);
}
input[type='radio']::before {
  content: '';
  width: 10px;
  height: 10px;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 5px 5px 5px 5px var(--accent-color);
}
input[type='radio']:checked::before {
  transform: scale(1);
}
.completed-button,
.uncompleted-button {
  display: flex;
  padding-top: 10px;
  padding-bottom: 5px;
}
